/* GLOBAL */
*{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  font-family: "open sans", "arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #444;
  background: #fff;
}

*:focus{
  outline: 2px dotted #de2e54;
  outline-offset: 2px;
}

/* CONTAINER */
.container{
  width: 100%;
  max-width: 1160px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}


/* SITE HEADER  */
.site-header{
  padding-top: 24px;
  padding-bottom: 24px;
}

.site-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* SITE LOGO  */
.site-logo{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #222;
  font-size: 24px;
  font-weight: 600;
}

.site-logo:hover{
  color: #de2e54;
}

.site-logo:active{
  opacity: 0.6;
}

.site-logo-img{
  margin-right: 16px;
  border-radius: 50%;
}


/* SITENAV */
.sitenav{
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}

.sitenav-list{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav-item:not(:last-child) {
  margin-right: 32px;
}

.sitenav-link{
  display: block;
  color: #222;
  text-decoration: none;
}

.sitenav-link:hover{
  color: #de2e54;
}

.sitenav-link:active{
  opacity: 0.6;
}



/* MAIN LINK  */
.main-link{
  display: inline-block;
  padding: 10px 22px;
  border: 2px solid #de2e54;
  text-decoration: none;
  border-radius: 8px;
  color:#fff;
  background-color:#de2e54;
  font-family: "open sens condensed", "open sans", "arial", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
}

.main-link:hover{
  border-color: #de2e54;
  background-color: #fff;
  color: #de2e54;
}

.main-link:active{
  background-color: #de2e54;
  color: #fff;
  opacity: 0.6;
}

.main-link-solid:hover{
  border-color: transparent;
  background-color: rgba(222, 46, 84, 0.8);
  color: #fff;
}

.main-link-solid:active{
  opacity: 1;
  background-color: rgba(222, 46, 84, 0.6);
}

/* HERO  */
.hero{
  background-color: #0eb4c1;
  color: #fff;
}

.hero-container{
  display: flex;
  justify-content: space-between;
}

.hero-content{
  width: 500px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.hero-heading{
  margin: 0;
  margin-bottom: 16px;
  font-family: "open sans condensed", "arial", sans-serif;
  font-size: 36px;
  line-height: 1.2;
}

.hero-text{
  width: 440px;
  margin-top: 0;
  margin-bottom: 36px;
}

.hero-img{
  align-self: flex-end;
}


/* INDEX SERVICES */
.index-services{
  padding-top: 120px;
  padding-bottom: 120px;
}

.index-service{
  display: flex;
  align-items: center;
}

.index-services-heading{
  margin-top: 0;
  margin-bottom: 56px;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
  font-family: "open sans condensed", "open sans", "arial", sans-serif;
  color: #000;
}

.index-services-list{
  padding: 0;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
  width: 864px;
  list-style: none;
}

.index-services-item:not(:last-child){
  margin-bottom: 80px;
}

.index-service-img{
width: 200px;
height: 200px;
margin-right: 64px;
border-radius: 24px;
object-fit: cover;
box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);;
}

.index-services-content{
  width: 600px;
}

.index-service-title{
  margin-top: 0;
  margin-bottom: 24px;
  color: #222;
}

.index-service-description{
color: #444;
margin: 0;
}

.index-service-actions{
  display: flex;
  justify-content: center;
}


/* SITE FOOTER  */
.site-footer{
  padding-bottom: 24px;
  padding-top: 24px;
  background-color: #222;
  color: #fff;
}

.site-footer-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-logo-site-footer{
  color: #fff;
}

.site-logo-site-footer:active{
  color: #fff;
}

.sitenav-site-footer .sitenav-link{
  color: #fff;
}

.sitenav-site-footer .sitenav-link:hover{
  color: #de2e54;
}

.sitenav-site-footer .sitenav-link:active{
  color: #fff;
}